<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="connect-file" xml:lang="el">

  <info>
    <link type="guide" xref="index#connections"/>
    <link type="seealso" xref="connect"/>
    <title type="sort">2</title>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>Χρησιμοποιείστε ένα αρχείο απομακρυσμένης σύνδεσης για να συνδεθείτε με ένα απομεμακρυσμένο μηχάνημα.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bασίλης Τσιβίκης</mal:name>
      <mal:email>vasitsiv.dev@gmail.com</mal:email>
      <mal:years>2011 </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μαρία Θουκυδίδου</mal:name>
      <mal:email>marablack3@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Σύνδεση με χρήση αρχείου <file>.vnc</file></title>

  <p>Μερικοί κεντρικοί υπολογιστές διανέμουν <em>αρχεία απομακρυσμένης σύνδεσης</em>, τα οποία γενικά έχουν κατάληξη <file>.vnc</file>, αντί να χρησιμοποιούν μια διεύθυνση κεντρικού υπολογιστή και θύρα.</p>

  <steps>
    <item>
      <p>Επιλέξτε <guiseq><gui style="menu">Απομακρυσμένος</gui> <gui style="menuitem">Άνοιγμα</gui></guiseq>.</p>
    </item>
    <item>
      <p>Επιλέξτε το αρχείο που θέλετε να ανοίξετε.</p>
    </item>
    <item>
      <p>Πατήστε το κουμπί <gui style="button">Άνοιγμα</gui>.</p>
    </item>
  </steps>

  <note style="tip">
    <p>Μπορείτε επίσης να ανοίξετε ένα απομακρυσμένο αρχείο σύνδεσης από τα <app>Αρχεία</app>.</p>
  </note>

</page>
