<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="view-only" xml:lang="id">

  <info>
    <link type="guide" xref="index#options"/>

    <revision version="0.2" pkgversion="3.8" date="2013-03-23" status="final"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <desc>Nonaktifkan interaksi dengan desktop jauh.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2013, 2014, 2016.</mal:years>
    </mal:credit>
  </info>

  <title>Mode hanya-lihat</title>

  <p>Beberapa protokol mengijinkan Anda mengaktifkan mode <gui>Hanya Lihat</gui>. Mode ini memungkinkan Anda mematikan semua interaksi dengan pihak jarak jauh.</p>
  <p>Pilih <guiseq><gui style="menu">Tilik</gui> <gui style="menuitem">Hanya Lihat</gui></guiseq> atau klik tombol bilah alat yang terkait untuk mengaktifkan mode ini.</p>

</page>
